*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-position: center;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
} 
body::before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #ad55c1, #FFFFFF );
    opacity: 0.3;
    z-index: -1;
}

.logo > span{
    text-transform: none;
    font-size: 15px;
}
.navegacion a{
    transition-duration: 1s;
}

.navegacion a:hover{
    transform: scale(1.5);
    opacity: 1;
    filter: blur(0px);
}
.logo>span:nth-child(1){
    color: palevioletred;
    font-weight: 1000;
}
.logo>span:nth-child(2){
    color:var(--primary);
    font-weight: 700;
    font-style: italic;
}
.logo>span:nth-child(3){
    color: palevioletred;
    font-weight: 900;
}
.header-navegacion {
    width: 20%;
    display: flex;
    border-left: solid 10px plum ;
    justify-content: space-between;
    padding: 15px 5px;
    align-items: center;
    align-content: center;
    position: sticky;
    top: 0;
}
.navegacion {
    display: flex;
    flex-direction: column;
    gap: 60px;
    list-style: none; /* esto le quita las bolitas*/
}

.navegacion > a{
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #060606;
    font-size: 15px;
    width: 100px;
    height: 30px;
    cursor: pointer;    
}
.navegacion  > a:hover,
.navegacion  > a:focus{
    color:palevioletred;
    outline: 0;
}
.container{
    display: flex;
    align-self: center;
    width: 95%;
    height: 90vh;
}
.images{
    display: flex;
    width: 80%;
    height: 90vh;
    align-items: center;
    justify-content: center;
    
}
.images > .mostrar-images{
    display: flex;
    width: 80%;
    height: 80vh;
    border-radius: 15px;
}
.mostrar-images img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 25px 25px 10px plum;
}